        
        </div><!-- /.sports-main -->
            
      </div><!-- /.row -->

    </div><!-- /.container -->



    <br/><br/><br/><br/>
    <footer class="blog-footer col-lg-12 text-center">
      <p>{{ site_title }} &copy; 2017</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>

    <script src="{{ www }}stylesheets/jquery/jquery-3.2.1.min.js"></script>
    <script src="{{ www }}stylesheets/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
