{{ include('_header.twig') }}

<br/><br/><br/>

<a href="{{ www }}single/" class="btn btn-primary">One Player</a>&nbsp; or &nbsp;<a href="{{ www }}duel/" class="btn btn-danger">Two Players</a>


{{ include('_footer.twig') }}